



/* navigation style */
nev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;

}


.open-sans-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nev title{
font-weight: 800;
font-size: 45px;}

/* for  specific title-color */
.tile-color{
    color: #FD6E0A;

}


nev ul li{
    list-style: none;

}
nev li a{

text-decoration: none;
}
nev ul {
    display: flex;
   gap: 50px;
   align-items: center;
   margin-left: 30px;
}
/* for colur dark 2 */
.dark2{
color: #474747;


}
/* butoon */
.btn-stl{

    color: white;
    font-weight: bold;
    font-size: 15px;

    background-color: #FD6E0A;
    border-radius: 5px;
    width: 130px;
    height: 60px;
     /* border: none;  */
    
    
}
/* for banner style */
.mula{ 

display: flex;
margin-left: 30px;
justify-content: space-between;
background-image: url(../accs/developer.png),url(../accs/header_bg.png);
background-repeat: no-repeat;
background-position:top left, bottom right;
background-image: 1200px 600px;



} 
.set{
width: 484px;
height: 600px;
margin-right: 100px;
margin-bottom: 80px;


}
.alu{

    width: 700px;
    height: 450px;
}
.t1{
   font-size: 45px;
   font-weight: 600;
    
}
.t2{
font-weight: bold;
font-size: 85px;

}
/* for main style */
.headl{
    font-weight: bold;
    font-family: 50px;
     /* margin: 0 auto;  */
}
.pera{
    font-size: 18px;
    color: #757575;
}
main{

   max-width: 1140px;
    /* height: 550px; */
    margin: 0 auto;
    padding: 117px 157px;
     justify-content: center; 
     margin-top: 200px;
      text-align: center; 
   
}
.sbackcolor{
     background-color:#FFF8F3;
}
.item-title{
font-size: 20px;
color: #757575;


}
.item-discription{

    font-weight: bold;
    font-size: 20px;
}
.lastcontent{
display: flex;
justify-content: space-around;

}
.kalo{
padding: 203px;

}
.fsec{
text-align: center;
width: 690px;
margin: 0 auto;


}
.card{

    display: flex;
     gap: 30px;
   
    margin-left: 260px;
   
    margin-top: 250px;
    margin-bottom: 100px;
    
    
}

.skill-card{
      width:267px;
    height: 377px;
padding: 33px;
  
    border-radius: 10px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  
} 
/* for resume style */
.resumi-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.resume-colum{
  
  width: 511px;zs
  height: 175px;

}
.tcenter{
    text-align: center;
}
.tcenter{
color: aqua;

}
.bbt{
justify-content: center;
margin-left: 900px;
margin-top: 100px;

}
.okkboss{
    display: flex;
    padding: 214px 222px;
    gap: 117px;
    
}
.last-colum{

    width: 50%;
}
footer input[type="text"],input[type="email"],footer textarea{
width: 462px;
height: 20px;
padding-left: 30px;
padding-top: 18px;
padding-bottom: 18px;
border-radius: 10px;
display: block;
margin-top: 20px;
background-color: #FFFFFF;

}
.bbs{
margin-top: 30px;

}
